main {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  margin: 5px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: unset !important;
}
